name: Deploy Website (S3 + CloudFront)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install AWS CLI v2
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscli.zip"
        unzip awscli.zip
        sudo ./aws/install --update

    - name: Prepare deploy folder
      run: |
        rm -rf deploy
        mkdir deploy
        cp index.html deploy/
        cp styles.css deploy/
        cp script.js deploy/
        ls -la deploy

    - name: Upload folder to S3 safely
      env:
        BUCKET: ${{ secrets.S3_BUCKET_NAME }}
      run: |
        aws s3 cp deploy/ s3://$BUCKET --recursive

    - name: Invalidate CloudFront Cache
      run: |
        aws cloudfront create-invalidation \
          --distribution-id ${{ secrets.CF_DISTRIBUTION_ID }} \
          --paths "/*"
