name: Deploy Website (S3 + CloudFront)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install AWS CLI v2
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip awscliv2.zip
        sudo ./aws/install

    - name: Prepare deploy folder
      run: |
        mkdir -p deploy
        cp index.html deploy/
        cp styles.css deploy/
        cp script.js deploy/
        ls -la deploy

    - name: Upload files using REST endpoint (unbreakable)
      env:
        BUCKET: ${{ secrets.S3_BUCKET_NAME }}
      run: |
        aws s3 cp deploy/index.html https://$BUCKET.s3.amazonaws.com/index.html
        aws s3 cp deploy/styles.css https://$BUCKET.s3.amazonaws.com/styles.css
        aws s3 cp deploy/script.js https://$BUCKET.s3.amazonaws.com/script.js

    - name: Invalidate CloudFront
      run: |
        aws cloudfront create-invalidation \
          --distribution-id ${{ secrets.CF_DISTRIBUTION_ID }} \
          --paths "/*"
